<div id="list" class="row row-cols-1 row-cols-md-3 g-4">
  <div class="col" *ngFor="let course of CourseList">
    <div class="card">
      <!-- <img src="..." class="card-img-top" alt="..."> -->
      <div class="card-body">
        <h3 class="card-title">{{course.title | titlecase}}</h3>
        <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
        <h6>Created Date: {{course.createdAt | date}}</h6>
        <a [routerLink]="['/courses', course.id]">More Info</a>
      </div>
    </div>
  </div>
</div>
