<div class="container">
  <form [formGroup]="myForm" (ngSubmit)="login()" >
    <h1>Login</h1>
    <div>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" type="email" formControlName="email">
        <mat-icon>email</mat-icon>
        <br>
        <span *ngIf="myForm.controls['email'].getError('required') && myForm.controls['email'].touched">Este campo es obligatorio</span>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" type="password" formControlName="password">
        <mat-icon>password</mat-icon>
        <br>
        <span *ngIf="myForm.controls['password'].getError('required') && myForm.controls['password'].touched">Este campo es obligatorio</span>
      </mat-form-field>
    </div>

    <div>
      <button mat-button color="primary" type="submit">
        <mat-icon>login</mat-icon>
        Login
      </button>
    </div>

    <div>
      <a [routerLink]="['/auth/register']">No tienes una cuenta? Registrate aqui</a>
    </div>
  </form>

</div>
