<div class="container">
  <form [formGroup]="myForm" (ngSubmit)="Register()">
    <h1>Register</h1>

    <div>
      <mat-form-field>
        <mat-label>Username</mat-label>
        <input matInput placeholder="username" type="text" formControlName="username">
        <mat-icon>person</mat-icon>
        <br>
        <span *ngIf="myForm.controls['username'].getError('required') && myForm.controls['username'].touched">Este campo es obligatorio</span>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Email</mat-label>
        <input matInput placeholder="Email" type="email" formControlName="email">
        <mat-icon>email</mat-icon>
        <br>
        <span *ngIf="myForm.controls['email'].getError('required') && myForm.controls['email'].touched">Este campo es obligatorio</span>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field>
        <mat-label>Password</mat-label>
        <input matInput placeholder="Password" type="password" formControlName="password">
        <mat-icon>password</mat-icon>
        <br>
        <span *ngIf="myForm.controls['password'].getError('required') && myForm.controls['password'].touched">Este campo es obligatorio</span>
      </mat-form-field>
    </div>

    <div>
      <button mat-button color="primary">
        <mat-icon>login</mat-icon>
        Register
      </button>
    </div>
    <div>
      <a [routerLink]="['/auth/login']">Ya tienes una cuenta? Inicia sesion aqui</a>
    </div>
  </form>

</div>
